body {
    font-family: Arial;
}

h1 {
	text-align: center;
}

.right {
	float: right;
	width: 40%;
}

.left {
	float: left;
	width: 60%;
    text-align:center;
}


circle { 
fill: #34baeb;
 }

rect { 
fill: #34baeb;
 }

.addStroke { 
	stroke: black;
	stroke-width: 4px;
}

#footer {
	padding-top: 5%;
	clear: both;
	text-align: center;
}