body {
    font-family: Arial;
}

h1 {
	text-align: center;
}

.right {
	padding-top: 160px;
	float: right;
	width: 40%;
}

.left {
	float: left;
	width: 60%;
    text-align:center;
}


circle {
	fill: #04d9ff;
}

circle:hover {
	fill: goldenrod;
}

.addStroke { 
	stroke: black;
	stroke-width: 4px;
}